# Executável
dist/
build/
*.spec

# Python
__pycache__/
*.pyc

# Arquivos temporários Excel
~$*.xlsx

# Pastas internas python build
python/build/
python/dist/

# Arquivos de controle interno
python/.contador_exec
python/.mes_exec
